<h1>
  <img src="images/check.png" alt="Check">
  Cy Scott: Work
</h1>
<p>Thanks for dropping by. Take a look and read about some of my latest work by clicking on a card below.</p>
<section id="projects">
</section>
