html {
  font-size: 62.5%;
  background: #333333 url(/images/darkdenim3.png); }

body {
  padding: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.8rem;
  line-height: 18px; }

h1 {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 6.0rem;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 1.0rem;
  margin-bottom: 10px; }
  h1 img {
    vertical-align: middle;
    margin-top: -14px; }

#projects {
  position: relative; }
  #projects.selected .tile {
    position: absolute;
    left: 0;
    top: 0; }

.container {
  width: 950px;
  margin: 0 auto; }

.tile {
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-box-shadow: 0px 8px 4px -4px #333333;
  -webkit-box-shadow: 0px 8px 4px -4px #333333;
  box-shadow: 0px 8px 4px -4px #333333;
  position: absolute;
  width: 280px;
  height: 200px;
  background: #fff;
  margin: 10px 20px 10px 0;
  opacity: 0;
  left: 0;
  color: #333; }
  .tile.visible {
    opacity: 1; }
  .tile.topZ {
    background: red;
    z-index: 9999; }
