@mixin transition($value) {
  -moz-transition: $value;
  -webkit-transition: $value;
  transition: $value;
}
@mixin shadow($value) {
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { 
  font-size: 62.5%;
  background:#333 url(/images/darkdenim3.png);
}
body {
  padding:40px;
  font: {
    family:'PT Sans', sans-serif;
    size:1.6rem;
  }
  color:#fff;
  line-height:2.0rem;
  line-height:20px;
}
h1 {
  font: {
    family:Helvetica, Verdana, sans-serif;
    size:6.0rem;
    size:60px;
  }
  text: {
    transform:uppercase;
  }
  margin: {
    bottom:1.0rem;
    bottom:10px;
  }
  img {
    vertical-align:middle;
    margin-top:-14px;
  }
}

h2 {
  font: {
    family:Helvetica, Verdana, sans-serif;
    size:4.0rem;
    size:40px;
  }
  line: {
    height:3.6rem;
    height:36px;
  }
}

pre {
  border-radius:5px;
  margin: 0.5em 0;
  font-size: 0.875em;
  padding: 0.5em 1.6em;
  background:#EEE;
  border: 0px solid #E5E5E5;
  border-left: 8px solid #bd2702;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  code {
    background:transparent;
  }
}

code {
  font-family: monaco;
  font-style: 400;
  font-weight: normal;
  background: #EEE;
  color: #555;
  max-width: 666px;
  padding: 3px;
  font-size: 13px;
}


#projects {
  position:relative;

  #tiles {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    em {
      color:#ccc;
    }
  }

  #details, #summary {
    @include transition(all 0.3s ease-in);
    opacity:0;
    position:absolute;
    right:0;
    width:620px;
  }

  #details {
    top:240px;
    border-top:1px solid #fff;
    width:100%;
    padding-top:20px;
    > div {
      padding:20px;
      color:#333;
      background:#fff;
      border-radius:10px;
    }
  }

  &.selected {

    #details, #summary {
      opacity:1;
    }

    .tile {
      position:absolute;
      left:0;
      top:0;
    }
  }
}
.container {
  width:950px;
  margin:0 auto;
}
.tile {
  @include transition(all 0.3s ease-in);
  @include shadow(0px 8px 4px -4px #333);
  border-radius:5px;
  cursor:pointer;
  position:absolute;
  width:270px;
  height:190px;
  background:#fff;
  margin:10px 20px 10px 0;
  opacity:0;
  left:0;
  color:#333;
  border:5px solid #fff;
  &.visible {
    opacity:1;
  }
  &.topZ { 
    border-color:#bd2702;
    z-index:9999;
  }
  > div {
    width:100%;
    height:100%;
    -webkit-transform-style: preserve-3d;
    transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    background: {
      color:transparent;
      size:100%;
    }
    &.my-portfolio {
      background-image:url(/images/my-portfolio.png);
    }
    &.leafly-menu-facebook-and-site-embed {
      background-image:url(/images/leafly-menu.png);
    }
    &.leafly-responsive-redesign {
      background-image:url(/images/leafly-responsive-redesign.png);
    }
    &.united-brew-facebook-integration {
      background-image:url(/images/ub.png);
    }
    &.kelley-blue-book-mobile{
      background-image:url(/images/kbb-mobile.png);
    }
  }
}
